<head>
  <link rel="stylesheet" href="/global/styles/base.css">
  <link rel="stylesheet" href="/global/styles/variables.css">
  <link rel="stylesheet" href="/components/header/header.css">
</head>

<div class="header__content">
    <a href="/" class="header__logo">
        Hugh Kominsky
    </a>
    <nav class="header__nav">
        <ul class="nav__list">
            <li><a href="/#experience" class="nav__link" data-target="experience">Experience</a></li>
            <li><a href="/#projects" class="nav__link" data-target="projects">Projects</a></li>
            <li><a href="/#contact" class="nav__link" data-target="contact">Contact</a></li>
        </ul>
        <div class="menu-toggle">
            <button class="menu-toggle__button" aria-label="Toggle menu">
                <span class="menu-toggle__bar"></span>
                <span class="menu-toggle__bar"></span>
                <span class="menu-toggle__bar"></span>
            </button>
        </div>
        <div class="theme-toggle">
            <button id="theme-toggle-btn" class="theme-toggle__button" onClick="changeTheme()">
                <img src="/images/icons/theme-light.png" alt="☀️">
            </button>
        </div>
    </nav>
</div>