*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    --base: #f1f1f1;
    --base-400: #eaeaeaf0;
    --base-600: #00000066;
    --base-800: #261C15;
    --kelly-green: #4CBB17;
}

body {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

a {
    position: relative;
    text-decoration: none;
    color: var(--base-800);
}

header {
    padding-top:20px;
    padding-bottom:10px;
    display:flex;
    justify-content: space-between;
    max-width: 1440px;
    margin:auto;

    .logo-holder {
        display:flex;
        padding: 10px;
        align-items: center;
        font-weight: 600;
        color: var(--base-800);

        .logo-text {
            color: var(--kelly-green);
            font-size: 30px;
            flex: 1;
        }
    }

    nav {
        display: flex;
        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 10px 20px;
                }
            }
        }
    }

    a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 0;
        height: 2px;
        background-color: var(--kelly-green);
        transition: width 0.3s ease;
    }
    
    a:hover::after {
        width: 100%;
    }
}

section {
	margin:auto;
	gap:25px;
	margin-top:30px;
	margin-bottom:30px;
}

h1 {
	font-size:64px;
	margin-bottom:10px;
    color: var(--kelly-green);
	small {
        color: var(--base-800);
		font-weight:300;
	}
}

.hero {
    display: flex;
    max-width:1440px;
    .hero-content {
        flex:1;
		padding:20px;
		display:flex;
		flex-direction:column;
		justify-content:center;
        .socials {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            margin-top: 35px;
            margin-bottom: 10px;
            a {
                transition: transform 0.3s ease;
                &:hover {
                    text-decoration: none;
                    transform: scale(0.94);
                }
            }
            .resume-button {
                margin-top: -2px;
                padding: 12px 20px;
                background-color: var(--kelly-green);
                color: var(--base);
                border-radius: 5px;
            }
        }
        .location {
            display: inline-flex;
            align-items: baseline;
            gap: 5px;
        }
    }
    .hero-picture {
        flex: 1;
        display: flex;
        justify-content: flex-start;
    }
}

h2 {
    font-size: 48px;
    line-height:1;
    margin-bottom: 25px;
    text-align: center;
    color: var(--base-800);
    small {
        margin-bottom: 5px;
        display: block;
        font-size: 34px;
        color: var(--kelly-green);
        font-weight: 215;
    }
}

.about-me {
    .experience {
        display: flex;
        gap: 30px;
        article {
            background-color: var(--base-400);
            padding: 30px;
            border-radius: 20px;
            flex: 1;
            transition: ease 0.3s all;
            box-shadow: 0 7px 15px var(--base-600);
            h3 {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            div {
				font-weight:600;
				margin-bottom:5px;
				color: var(--base-800);
			}
			p {
				margin-bottom:10px;
			}
			figure {
				width:100%;
				padding-top:56.25%;
				overflow:hidden;
				position:relative;
				border-radius:15px;
				img {
					position:absolute;
					top:0;
					left:0;
					height:100%;
					object-fit:cover;
					transition: ease 3s all;
				}
				figcaption {
					position:absolute;
					bottom:0;
					left:0;
					right:0;
					background-color: var(--base-600);
					color: var(--base);
					text-align:center;
					padding:10px;
					opacity:0;
					visibility:hidden;
					transition: ease 0.3s all;
				}

				&:hover {
					figcaption {
						opacity:1;
						visibility:visible;
					}
				}
            }
            &:hover {
                transform: translateY(-15px);
            }
        }
    }
}